.blog {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-right: 50px;
}

.blog__container {
    display: flex;
    justify-content: space-between;
}

.blog__title {
    display: block;
    width: 100%;
    font-size: 18px;
    font-family: RobotoSlab,serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog__link-mb {
    margin-bottom: 11px;
}

.blog__links-second .item{
    margin-right: 0;
}